.half {
  background: linear-gradient(to right, rgb(183, 88, 206) 50%, black 70%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease-out;
  font-weight: bold;
}

.half:hover {
  background-position: left bottom;
  transform: scale(1.1);
}

/* target all bullets */
.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgb(104, 104, 108);
  opacity: 1;
}

.menuBtn {
  z-index: 100;
  width: 6rem;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  margin: 1rem auto;
}

.menuBtn:hover {
  color: rgb(253 186 116);
  transform: translate(1rem, 0);
}

@media screen and (min-width: 768px) {
  .menuBtn {
    background-color: rgb(24 24 27);
    border-radius: 0.5rem; /* 8px */
    margin-top: 0.5rem; /* 8px */
    margin-bottom: 0.5rem; /* 8px */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    right: 0px;
    padding: 30px 0px;
    color: white !important;
    fill: black !important;
    stroke: black !important;
  }

}
