@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
}

html, body {
    height: 100%;
}

#tsparticles {
    position: absolute;
    z-index: -10
}

.motto {
    font-family: 'Libre Baskerville', serif;
}

.trans {
    z-index:-9;
}

.half {
    background: linear-gradient(to right, rgb(183,88,206) 50%,black 70%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 1s ease-out;
    font-weight: bold
}

.half:hover {
    background-position: left bottom;
    transform: scale(1.1);
}

.mail:hover {
    color: rgb(118, 208, 250);
}