@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100vh
}

body {
    height: 100vh
}

#tsparticles {
    position: absolute;
    z-index: -1
}

.motto {
    font-size: 5rem;
    font-family: 'Libre Baskerville', serif;
}